header {
    text-align: right;
    font-size: 20;
    font-family: sans-serif;
    font-variant: inherit;
}
.banner {
    color: #00ff9d;
    padding: 10px;
    width: auto;
    position: relative;
    height: 70%;

}
h1 {
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    font-size: 1.75rem;
    line-height: 1em;
    margin: .625rem 0;
}
h2{
  margin-top: -25px;
}
.img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a, a:link, a:visited {
    color: #00a8ca;
    text-decoration: none;
}
.img-centered--lg {
    height: 300px;
}
img{
  border-radius: 25px;
  padding: 0;
}
.image-centered img-centered--lg {
    margin-top: 50px;
}
#fifth {
    display: inline-block;
    font-size: 30;
}
.search {
    list-style: none;
}
.recommendations__text {
    background-color: wheat;
    border-radius: 25px;
    }

.sale {
    width: 50px;
    height: 50px;
    z-index: 20;
    left: 98%;
    top: 51%;
    font-weight: bold;
    margin-top: -150px;
    margin-left: -60px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.sale h4{
  text-align: center;
}
.col-sm-3 img:hover {
  transition: 1.5s;
  transform: scale(1.2);
  opacity: 0.8;
}
