.fundal1 {
    background: url("assets/images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
#centru {
    margin-top: 2.6%;
    padding-top: 6%;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}
.buton1 {
    border-radius: 28px;
    margin-top: 10px;
    margin-left: 46%;
    font-size: 20px;
    padding: 9px 20px 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: solid #ffffff 4px;
    text-decoration: none;
}
.buton1:hover {
    background: #ffffff;
    color: #000000;
    border: solid #000000 4px;
    text-decoration: none;
}
.nomarg {
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 0.5%;
}
.fundal2 .container{
  padding-bottom:15px;
  padding-top:10px;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
.image-wrapper {
    height: 120px;
    width: 120px;
    margin: auto;
    padding: 15px;
    border: solid #000000 2px;
    border-radius: 50%;
    position: relative;
}
.image-wrapper:hover {
    background-color: red;
}
.image-wrapper img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
.fundal3 {
    background-color: #153636;
}
#pad {
    padding-bottom: 15px;
}
.fundal3 img {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}
.fundal3 img:hover {
    transition: 2s;
    transform: scale(1.1);
    opacity: 0.7;
}
