body {
    margin: 0;
}
section.fundal {
    background-image: url("assets/images/bg2.jpg");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
    padding: 30px;
}
section.best {
    background-image: url("assets/images/p2.jpg");
}
.alignr a {
    padding: 10px;
}
header {
    text-align: right;
    font-size: 20;
    font-family: sans-serif;
    font-variant: inherit;
}
header a {
    text-align: right;
    margin-right: 5px;
    height: 10px;
    color: rgb(255, 255, 255);
}
section.bing {
    position: relative;
    display: block;
    margin-right: auto;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}
.round0-button {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #000000;
    overflow: hidden;
    background: #00CCFF;
    box-shadow: 0 0 3px gray;
    margin-left: 20%;
    margin-top: 40px;
    position: relative;
}
.round0-button:hover {
    background: rgb(64, 110, 255);
}
.round0-button img {
    display: block;
    width: 60%;
    height: 50%;
    margin-top: -25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
}
.round1-button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #000000;
    overflow: hidden;
    background: #00CCFF;
    box-shadow: 0 0 3px gray;
    margin-left: 20%;
}
.round1-button:hover {
    background: rgb(64, 110, 255);
}
.round1-button img {
    display: block;
    width: 60%;
    height: 50%;
    margin-top: -25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
}
.round2-button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #000000;
    overflow: hidden;
    background: #00CCFF;
    box-shadow: 0 0 3px gray;
    margin-left: 20%;
}
.round2-button:hover {
    background: rgb(64, 110, 255);
}
.round2-button img {
    display: block;
    width: 60%;
    height: 50%;
    margin-top: -25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
}
.round3-button {
    display: inline-block;

    width: 10%;
    height: 12%;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 28px;
    color: #00FFFF;
    text-align: center;
    text-decoration: none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    margin-left: 48%;
    margin-top: 10px;
    margin-bottom: 40%;
    font-family: inherit;
    margin-right: 40%;
    margin-bottom: 50%;
    color: white;
    text-decoration: none;
}
.round3-button:hover {
    background: #b5b3ab;
}
#motor {
    margin-right: 45%;
    margin-top: 3.2%;
    margin-left: 49%;
    font-size: 40;
    color: white;
}
.second_paragraph {
    margin-left: auto;
    background-color: #00CCFF;
    height: 30%;
}
.second_paragraph p {

    font-size: 30px;
    color: wheat;

}

/*.block{
  font-size: 40;
  margin-left: auto;
  color:white;
}*/

#clar {
    font-size: 30px;
    color: wheat;
    text-align: center;

}
#clar1 {
    text-align: center;
    color: wheat;
    font-size: 30px;
}
h1, p {
    margin: 0;
}
.third_paragraph {
    background-color: black;
    height: 800px;
    text-align: center;

}
.col img {
    height: 200px;
    width: auto;
    padding: 10px;
}
.row-group {
    display: inline-block;
}
.row {
    display: inline-block;
}

img {
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 10px;
}
.col-sm-12 {
    -webkit-animation: KEYFRAME-NAME 5s infinite;
    -moz-animation: KEYFRAME-NAME 5s infinite;
    -o-animation: KEYFRAME-NAME 5s infinite;
    animation: KEYFRAME-NAME 5s infinite;
}
@-webkit-keyframes KEYFRAME-NAME {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes KEYFRAME-NAME {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes KEYFRAME-NAME {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes KEYFRAME-NAME {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes playv {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -315px;
    }
}
@-webkit-keyframes playh {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -320px;
    }
}
.col-sm-12 {
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
    -o-transition: -o-transform 1s linear;
    -ms-transition: -ms-transform 1s linear;
    transition: transform 1s linear;
}
.col-sm-12:hover {
    -webkit-transform: translate(202px, 115px);
    -moz-transform: translate(202px, 115px);
    -o-transform: translate(202px, 115px);
    -ms-transform: translate(202px, 115px);
    transform: translate(202px, 115px);
}
.rightFace, .leftFace, .topFace {
    position: absolute;
}
.col-sm-12:hover .rightFace, .col:hover .leftFace, .col:hover .topFace div {
    background-color: #ffc;
}
.col-sm-12:hover .rightFace:hover, .col:hover .leftFace:hover, .col:hover .topFace:hover div {
    background-color: #ffa;
}
